<!------------------------ USER PROFILE ----------------------------------------------------->
<div class="site-section bg-light bg-image" id="show_profile">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-lg-4 mb-4 offset-md-1">
        <div class="card" style="width: 22rem;">
          <figure style="margin: 0">
            <%= image_tag profile.avatar_attachment_path, class:"card-img-top", style:"height:350px;width:350px"%>
          </figure>
          <% if current_user && current_user.id == profile.id %>
            <div class="card-body form-label-sm" style="padding:0.3rem 0rem 0.5rem 0rem; text-align: center;">
              <%= link_to "Mettre à jour la photo" %>
            </div>
          <% end %>

          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fas fa-home" style="margin-right:1rem;"></i> Habite à <%= profile.city %></li>
            <li class="list-group-item"><i class="fas fa-birthday-cake" style="margin:0rem 1.3rem 0rem 0.2rem;"></i>Né(e) le <% profile.birthdate ? profile.birthdate.strftime("%d/%m/%Y") : "" %></li>
            <li class="list-group-item"><i class="far fa-id-badge" style="margin:0rem 1.3rem 0rem 0.3rem;"></i>Tous permis</li>
          </ul>
        </div>
      </div>

      <div class="col-md-5 col-lg-6 mb-4 pl-lg-5">
        <h4 class="text-black">Profile de <%= profile.first_name %> <%= profile.last_name %></h4>
        <p class="text-black">Membre depuis <%= profile.user.created_at.strftime("%Y") %>  
          <% if current_user && current_user.id == profile.id %>
             · <%= link_to "Modifier le profil", edit_profile_path(current_user.id), class: "form-label-sm"%>
          <% end %>
        </p>
        <p><%= profile.description %></p>

        <div style="padding: 1rem 0rem 1rem 0rem">
          <hr/>
        </div>

        <h4 class="text-black">Convoyages effectués</h2>
        <p>
          <a class="form-label-sm" data-toggle="collapse" href="#performed-convoys" role="button" aria-expanded="false" aria-controls="collapseExample">
            Cliquez ici pour voir la liste
          </a>
        </p>
        <div class="collapse" id="performed-convoys">
          <div class="card card-body" style="min-width: 500px;">
            <ul>
            <% if profile.user.deliveries.size == 0 %>
              <li> Aucun convoyage effectué à ce jour </li>
            <% else %>
              <% profile.user.deliveries.each do |delivery| %>
                <li>
                  De <%= delivery.convoy.departure_port %> 
                  à <%= delivery.convoy.arrival_port %>, 
                  le <%= delivery.convoy.date_of_departure.strftime("%d/%m/%Y") %> - 
                  Durée : <%= delivery.convoy.duration.round(0) %> jours
                </li>
              <% end %>
            <% end %> 
            </ul>
          </div>
        </div>

        <div style="padding: 1rem 0rem 1rem 0rem">
          <hr/>
        </div>
        <h4 class="text-black">Commentaires</h4>
        
        <!------------------ COMMENT BLOCK (to loop) --------------------->
        <div class="media pt-3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum velit officiis reiciendis sit nostrum accusantium explicabo, saepe, architecto ea sunt sequi dignissimos beatae aut deserunt maxime! Voluptas, distinctio! Cumque, eum!</p>
        </div>  
        <div class="media pt-3 border-bottom border-gray">
          <%= image_tag(profile.avatar_attachment_path, class:"w-05 mb-3 rounded-circle") %>
          <div class="col-lg-7 pl-lg-7">
            <p class="media-body pb-3 mb-0 lh-125 ">
              <span class="form-label-tiny">Firstname Name</span>
              <span class="footnotesize">Membre depuis <%= profile.user.created_at.strftime("%Y") %></span>
            </p>
          </div>
        </div>

        <div class="media pt-3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum velit officiis reiciendis sit nostrum accusantium explicabo, saepe, architecto ea sunt sequi dignissimos beatae aut deserunt maxime! Voluptas, distinctio! Cumque, eum!</p>
        </div>  
        <div class="media pt-3 border-bottom border-gray">
          <%= image_tag(profile.avatar_attachment_path, class:"w-05 mb-3 rounded-circle") %>
          <div class="col-lg-7 pl-lg-7">
            <p class="media-body pb-3 mb-0 lh-125 ">
              <span class="form-label-tiny">Firstname Name</span>
              <span class="footnotesize">Membre depuis <%= profile.user.created_at.strftime("%Y") %></span>
            </p>
          </div>
        </div>
        <!------------------ END COMMENT BLOCK --------------------->

      </div>

    </div>
  </div>
</div>
<!------------------------ END USER PROFILE ----------------------------------------------------->