<!------------------------ BANNER ----------------------------------------------------->
<%= render 'edit_profile_banner' %>
<!------------------------ END BANNER ----------------------------------------------------->
<!------------------------ EDIT USER ACCOUNT FORM ----------------------------------------------------->

<!------------------------ EDIT USER ACCOUNT FORM ----------------------------------------------------->

<section class="site-section bg-light bg-image" id="edit_profile">
  <div class="row d-flex justify-content-center">
    <!-- left column --------------------------------> 
    <div class="col-md-3">
      <div class="text-center">
          <figure style="margin: 0">
            <%if @profile.avatar.attached?%>
              <%= image_tag @profile.avatar, style:"height:350px;width:350px"%>
            <%else%>
              <%= image_tag('no-avatar.png', class:"card-img-top", style:"height:350px; width:350px") %>
            <%end%> 
          </figure>     
        <%= form_tag profile_avatars_path(@profile), multipart: true do %>
          <div>
            <%= file_field_tag :avatar%>
          </div>
          <br>
          <%= submit_tag "Mettre à jour",class:"btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>  

    <!-- edit form column ----------------------------->

    <div class="col-md-6 personal-info"> 
      <div class="p-5 bg-white">
        <div class="card">
          <%=form_tag profile_path(@profile), method: :put do %>
            <div class="col-12">
              <h4 class="modal-title text-black text-center" id="exampleModalCenterTitle">Informations personnelles</h4>
            </div>
            <br/>
            
            <div class="col-12">
              <label class="text-black form-label">Nom:</label>
              <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text" style="width:2.3rem;"></div>
                  </div>
                  <%= text_field_tag 'last_name', value = @profile.last_name,class:"form-control"%>
              </div>
            </div>

            <div class="col-12">
              <label class="text-black form-label">Prènom:</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text" style="width:2.3rem;"></div>
                </div>
                <%= text_field_tag 'first_name',value = @profile.first_name,class:"form-control"%>
              </div>      
            </div>
           
            <div class="col-12">
              <label class="text-black form-label">Date de naissance :</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text" style="width:2.3rem;"></div>
                </div>
                <%= text_field_tag 'birthdate',value = @profile.birthdate,class:"form-control",placeholder:"JJ-MM-AAAA"%>
              </div>
            </div>

            <div class="col-12">
              <label class="text-black form-label">Ville:</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text" style="width:2.3rem;"></div>
                </div>
                <%= text_field_tag 'city',value = @profile.city,class:"form-control"%>
              </div>
            </div>

            <div class="col-12">
              <label class="text-black form-label">Description:</label>
              <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text" style="width:2.3rem;"></div>
                  </div>
                  <%= text_area_tag 'description',value = @profile.description,class:"form-control",size: "15x5"%>
              </div>
            </div>
             
            <div class="col-md-12">
              <%= submit_tag "Sauvegarder", class:"btn btn-primary btn-lg btn-block text-white form-label", style:"margin-top:1rem; margin-bottom:1rem;" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!------------------------ EDIT USER ACCOUNT FORM ----------------------------------------------------->
