<!------------------------ BANNER ----------------------------------------------------->
<%= render 'signup_banner' %>
<!------------------------ END BANNER ----------------------------------------------------->

<%= devise_error_messages! %>

<!------------------------ SIGNUP FORM ----------------------------------------------------->
<section class="site-section bg-light bg-image", id="login">
  <div class="row d-flex justify-content-center">  
    <div class="col-md-6"> 
      <div class="p-5 bg-white">
        <div class="col-md-12"> 
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <div class="col-12">
            <h4 class="modal-title text-black" id="exampleModalCenterTitle">Inscription</h4>
          </div>
          <br/>
          <div class="col-12">
            <%= f.label(:email, "email", class:"text-black form-label") %>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text" style="width:2.3rem;">@</span></div>
              </div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"name@example.com" %>
            </div>
          </div>
        

          <div class="col-12">
            <%= f.label(:password, "mot de passe", class:"text-black form-label") %>
            <% if @minimum_password_length %>
              <span class="form-label-tiny">(<%= @minimum_password_length %> caractères minimum)</span>
            <% end %>
             <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text" style="width:2.3rem;"><i class="fas fa-key"></i></i></span></div>
              </div>
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
            </div>
          </div>
         

          <div class="col-12">
            <%= f.label(:password_confirmation, "Confirmer le mot de passe", class:"text-black form-label") %>
             <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text" style="width:2.3rem;"><i class="fas fa-lock"></i></i></span></div>
              </div>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
            </div>
          </div>

          <div class="col-md-12">
            <%= f.submit "S'inscrire", class:"btn btn-primary btn-lg btn-block text-white form-label", style:"margin-top:1rem; margin-bottom:1rem;" %>
            <%= render 'devise/shared/links' %>
          </div>
          
        <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!------------------------ END SIGNUP FORM ----------------------------------------------------->

