<div class="container">

  <h1 class="form-label text-black">Merci d'avoir proposé un nouveau convoyage !</h1>
  <br>
  <p>Résumé du convoyage : </p>

  <table>
    <tr> <th><%= @convoy.title %></th> </tr>
    <tr> <td><%= @convoy.description %> </td> </tr>
    <tr> <td>Type de bateau : <%= @convoy.boat_type %> </td> </tr>
    <tr> <td>Date de départ :<%= @convoy.date_of_departure.strftime("%d/%m/%Y") %> </td> </tr>
    <tr> <td>Date d'arrivée :<%= @convoy.date_of_arrival.strftime("%d/%m/%Y") %> </td> </tr>
    <tr> <td>Port de départ : <%= @convoy.departure_port %> </td> </tr>
    <tr> <td>Port d'arrivée : <%= @convoy.arrival_port %> </td> </tr>
  </table>

</div>
