<!DOCTYPE html>

<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900|Oswald:300,400,700" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', async: true, defer: true %>

  </head>

  <body>

    <div class="container">

      <div style="width: 20%" class="text-center">
        <%= image_tag attachments['logo-bobato-dark.png'].url %>
      </div>

      <h1 class="form-label text-black">Nouvelle souscription pour un convoyage !</h1>
      <br>
      <p> Résumé du convoyage : </p>

      <table>
        <tr> <th> Résumé du convoyage : </th> </tr>
        <tr> <td><%= @submission.convoy.title %></td> </tr>
        <tr> <td><%= @submission.convoy.description %> </td> </tr>
        <tr> <td><%= @submission.convoy.boat_type %> </td> </tr>
        <tr> <td><%= @submission.convoy.date_of_departure %> </td> </tr>
        <tr> <td><%= @submission.convoy.date_of_arrival %> </td> </tr>
        <tr> <td><%= @submission.convoy.departure_port %> </td> </tr>
        <tr> <td><%= @submission.convoy.arrival_port %> </td> </tr>
      </table>

      <p>
        Pour accéder à ton espace client, connecte-toi sur : <a href="https://bobato.herokuapp.com/">Bobato</a>.
      </p>

      <p> À très vite !</p><br>

      <div  style="font-size: 12px;" >
        Vous recevez ce mail car vous venez de vous inscrire sur BoBato.com. 
        <br>Le site qui a de beaux bateaux avec de beaux skippers.
      </div>

    </div>



  </body>

</html>
