<div class="container">

  <h1 class="form-label text-black"> Votre candidature n'a pas été retenue pour ce convoi </h1>
  <br>
  <p>Rappel du convoyage : </p>

  <table>
    <tr> <th><%= @submission.convoy.title %></th> </tr>
    <tr> <td><%= @submission.convoy.description %> </td> </tr>
    <tr> <td>Type de bateau : <%= @submission.convoy.boat_type %> </td> </tr>
    <tr> <td>Date de départ : <%= @submission.convoy.date_of_departure.strftime("%d/%m/%Y") %> </td> </tr>
    <tr> <td>Date d'arrivée : <%= @submission.convoy.date_of_arrival.strftime("%d/%m/%Y") %> </td> </tr>
    <tr> <td>Port de départ : <%= @submission.convoy.departure_port %> </td> </tr>
    <tr> <td>Port d'arrivée : <%= @submission.convoy.arrival_port %> </td> </tr>
  </table>

</div>
