<%= content_for :title, "Bienvenue sur BoBato" %>


<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

<!------------------- HOME BANNER ----------------------------->
  
<div class="site-block-wrap">
  <div class="owl-carousel with-dots">
    <div class="site-blocks-cover overlay overlay-2" style="background-image: url(<%= asset_path('hero_1.jpg') %>);" data-aos="fade" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-6 mt-lg-5 text-center">
            <h1 class="text-shadow"> Trouvez facilement votre prochain convoyage </h1>
            <p class="mb-5 text-shadow"> BoBato permet aux skippers professionnels de trouver le convoyage qui leur correspond parmi des milliers d'offres </p> 

            <%= link_to "Voir les offres", convoys_path, class: "btn btn-primary px-5 py-3 form-label", style:"font-size:14pt;" %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!------------------- END HOME BANNER ----------------------------->
<%= render :partial => "shared/errors" %>
<!------------------- ITEM EXAMPLES ----------------------------->


    <div class="site-section" id="properties-section">
      <div class="container">

        <div class="row mb-5 align-items-center">
          <div class="col-md-7 text-left">
            <h2 class="section-title mb-3">Les derniers convoyages proposés</h2>
          </div>
          <div class="col-md-5 text-left text-md-right">
            <div class="custom-nav1">
              <a href="#" class="custom-prev1">Précédent</a><span class="mx-3">/</span><a href="#" class="custom-next1">Suivant</a>
            </div>
          </div>
        </div>

        <div class="owl-carousel nonloop-block-13 mb-5">
        <% @convoys.each do |convoy| %> 
<!------------------- ITEM LIST----------------------------->
          <div class="ftco-media-1">
            <div class="ftco-media-1-inner">
              <a href=" <%= convoy_path(convoy.id)%>" class="d-inline-block mb-4"> 
                <%= image_tag(convoy.picture_attachment_path, class:"img-fluid") %>
              </a>
              <div class="ftco-media-details">
                <h3><%= convoy.boat_type %></h3>
                <p><%= convoy.departure_port %></p>
                <strong> <%= number_with_delimiter(convoy.convoy_price.round(0), delimiter: " ") %> €</strong>
              </div>
            </div> 
          </div>
<!------------------- ITEM LIST END----------------------------->
        <% end %>
        </div>
        
      </div>
    </div>


<!------------------- END ITEM EXAMPLES ----------------------------->

<!------------------- HOW IT WORKS ----------------------------->

    <section class="py-5 bg-primary site-section how-it-works" id="howitworks-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-3 text-black">Comment ça marche</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-center">
            <div class="pr-5 first-step">
              <span class="text-black">01.</span>
              <span class="custom-icon flaticon-find text-black"></span>
              <h3 class="text-black">Trouvez votre convoyage.</h3>
              <p class="text-black">Définissez vos critères de recherche tels que le permis demandé, la date de départ et le port de départ.</p>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="pr-5 second-step">
              <span class="text-black">02.</span>
              <span class="custom-icon flaticon-send text-black"></span>
              <h3 class="text-black">Candidatez.</h3>
              <p class="text-black">Postuler aux offres qui remplissent vos critères de sélection.</p>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="pr-5">
              <span class="text-black">03.</span>
              <span class="custom-icon flaticon-boat text-black"></span>
              <h3 class="text-black">Naviguez.</h3>
              <p class="text-black">Lorsque vous êtes choisi par un propriétaire de bateau, vous êtes directement rémunéré pour le trajet à réaliser.</p>
            </div>
          </div>
        </div>
      </div>  
    </section>
<!------------------- END HOW IT WORKS ----------------------------->




</div> <!-- .site-wrap -->


</body>

