<%= content_for :title, "Modifier les informations du convoyage" %>

<!------------------------------- BANNER ------------------------>

<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(<%= asset_path('hero_1.jpg') %>);" data-aos="fade">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-10 mx-auto mt-lg-5 text-center">
        <h1>Editer les informations de convoyage</h1>
      </div>
    </div>
  </div>

  <a href="#edit_convoy" class="smoothscroll arrow-down"><span class="icon-arrow_downward"></span></a>
</div>
<!------------------------------- END BANNER ------------------------>
<%= render :partial => "shared/errors" %>

<!-- edit convoy -------------------------------->
<section class="site-section bg-light bg-image" id="edit_convoy">
  <div class="row d-flex justify-content-center">
    <!-- left column -------------------------------->
    <div class="col-md-3">
      <br>
      <div class="text-center">
        <% if @convoy.pictures.attached? %>
          <p>
            <% @convoy.pictures.each do |picture| %>
              <%= image_tag picture %>
            <%end%>
          </p>
        <%else%>
          <p>=== Il n'y a pas encore d'images liées à cet convoyage ===</p>
        <%end%>
        <%= form_tag convoy_pictures_path(@convoy), multipart: true do %>
          <div>
            <%= file_field_tag :pictures, multiple:true%>
          </div>
          <br>
          <%= submit_tag "Mettre à jour",class:"btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>

    <!-- edit form column ----------------------------->

    <div class="col-md-6 personal-info">
      <div class="p-5 bg-white">
        <div class="card">

          <h1>Edit convoy</h1>

          <div class="container" id="new_convoy">
            <div class="row">
              <div class="col-sm-9 col-md-7 col-lg-7 mx-auto">
                <div class="card">
                  <div class="form-group">

                    <%=form_tag convoy_path(@convoy), method: :put do %>
                      <div class="col-12">
                        <h4 class="modal-title text-black text-center" id="exampleModalCenterTitle">Editer le convoyage</h4>
                      </div>
                      <br/>

                      <div class="col-12">
                        <label class="text-black form-label">Titre:</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text" style="width:2.3rem;"></div>
                            </div>
                            <%= text_field_tag 'title', value = @convoy.title,class:"form-control"%>
                        </div>
                      </div>

                      <div class="col-12">
                        <label class="text-black form-label">Type de bateau:</label>
                        <div class="input-group mb-2 mr-sm-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text" style="width:2.3rem;"></div>
                          </div>
                          <%= text_field_tag 'boat_type',value = @convoy.boat_type,class:"form-control"%>
                        </div>
                      </div>

                      <div class="col-12">
                        <label class="text-black form-label">Licence requise :</label>
                        <div class="input-group mb-2 mr-sm-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text" style="width:2.3rem;"></div>
                          </div>
                          <%= text_field_tag 'required_license',value = @convoy.required_license,class:"form-control"%>
                        </div>
                      </div>

                      <div class="col-12">
                        <label class="text-black form-label">Description:</label>
                        <div class="input-group mb-2 mr-sm-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text" style="width:2.3rem;"></div>
                          </div>
                          <%= text_area_tag 'description',value = @convoy.description,class:"form-control",size: "15x5"%>
                        </div>
                      </div>

                      <div class="col-12">
                        <label class="text-black form-label">Port de départ:</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text" style="width:2.3rem;"></div>
                            </div>
                            <%= text_field_tag 'departure_port',value = @convoy.departure_port,class:"form-control"%>
                        </div>
                      </div>

                      <div class="col-12">
                        <label class="text-black form-label">Port d’arrivée:</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text" style="width:2.3rem;"></div>
                            </div>
                            <%= text_field_tag 'arrival_port',value = @convoy.arrival_port,class:"form-control"%>
                        </div>
                      </div>

                      <div class="col-12">
                        <label class="text-black form-label">Date de départ :</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text" style="width:2.3rem;"></div>
                            </div>
                            <%= date_field_tag 'date_of_departure',value = @convoy.date_of_departure.strftime("%d/%m/%Y"),class:"form-control"%>
                        </div>
                      </div>

                      <div class="col-12">
                        <label class="text-black form-label">Date d’arrivée:</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text" style="width:2.3rem;"></div>
                            </div>
                            <%= date_field_tag 'departure_port',value = @convoy.date_of_arrival.strftime("%d/%m/%Y"),class:"form-control"%>
                        </div>
                      </div>

                      <div class="col-12">
                        <label class="text-black form-label">Rémunération du convoi:</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text" style="width:2.3rem;"></div>
                            </div>
                            <%= text_field_tag 'departure_port',value = @convoy.convoy_price,class:"form-control"%>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <%= submit_tag "Editer", class:"btn btn-primary btn-lg btn-block text-white form-label", style:"margin-top:1rem; margin-bottom:1rem;" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
