<h1>Edit convoy</h1>

<%= render 'form' %>

  <%= form_with model: @convoy, local: true  do |form| %>
    <%= form.file_field :pictures, multiple: true %><br>
    <%= form.submit %>
  <% end %>


<%= link_to 'Back', convoys_path %>
