<%= content_for :title, "Nos propositions de convoyage" %>


<!------------------------------- BANNER ------------------------> 
<%= render 'banner' %>
<!------------------------------- END BANNER ------------------------>
<%= render :partial => "shared/errors" %>
    
<div class="site-section" id="listings-section">
  <div class="container">

<!------------------------------- FILTER + ITEM LIST SECTION ------------------------>    
    <div class="row">
      <!------------------------------- FILTER BAR ------------------------>
      <div class="col-md-3 order-1 order-md-2">
      <div class="mb-5 ml-5">
        <h3 class="text-black mb-4 h5 font-family-2">Filtrer</h3>
          <%= simple_form_for :search, url: convoys_path, method: "GET", local: false, remote: true do |f| %>
            <div class="form-label-sm">
              <%= f.input :boats, label: "TYPE DE BATEAU",  collection: $boat_types, as: :check_boxes, onClick: "test" %>
              <%= f.input :ports, label: "PORTS DE DEPART", collection: $departure_ports, as: :check_boxes %>
            </div>
            <%= f.submit "Filtrer", class: "btn btn-primary", id: "filter-btn" %>
            <%= link_to "Réinitialiser", convoys_path  %>
          <% end %>
        </div>
      </div>
      <!------------------------------- END FILTER BAR ------------------------>

      <!------------------------------- CONVOY LIST ------------------------>
        <div class="col-md-9 order-2 order-md-1">
          <div class="row large-gutters" id="convoys">
            <%= render 'convoy', convoys: @convoys %>
          </div>
        </div>
      <!------------------------------- END ITEM LIST ------------------------>
    </div>
<!------------------------------- END FILTER AND ITEM LIST SECTION ------------------------>

    <!------------------------------- PAGINATION ------------------------>

    <div class="row mt-4">
      <div class="col-md-9">
        <div class="custom-pagination d-flex justify-content-center bd-highlight mb-3 text-center">
          <div class="more-page"><%= paginate @convoys, :outer_window => 1, :window => 1 %></div>
        </div>
      </div>
    </div>

    <!------------------------------- END PAGINATION ------------------------>

  </div>
</div>

<script type="text/javascript">
  var checkBoxes = document.querySelectorAll(".form-check-input");
  var form = document.querySelector('form');
  var button = document.getElementById('filter-btn')
  button.style.display = 'none';

  for (const check of checkBoxes) {
      check.addEventListener('change', function() {
        button.click();
        console.log("coucou")
    });
  }
</script>