<%= content_for :title, "Créer un convoyage" %>

<!------------------------------- BANNER ------------------------>
<%= render 'banner_new_convoy' %>
<!------------------------------- END BANNER ------------------------>

<%= render :partial => "shared/errors" %>

<section class="site-section bg-light bg-image" id="new_convoy">
  	<div class="row d-flex justify-content-center">
    	<div class="col-md-9">
      		<div class="p-5 bg-white">
        		<div class="col-md-12">

        			<%=form_tag convoys_path, multipart: true, method: :post do %>
						<div class="row form-group">
							<div class="col-3">
								<span class="custom-icon flaticon-boat text-black"></span>
			          		</div>
			          		<div class="col-9 my-auto text-right">
			            		<h4 class="modal-title text-black" id="exampleModalCenterTitle">Soumettre une proposition de convoyage</h4>
			            		<span class="form-label-tiny">* : champs obligatoires</span>
			          		</div>
						</div>

		          		<div class="row form-group">
			          		<div class="col-md-6 mb-3 mb-md-0">
			          			<label class="text-black form-label">Titre *</label>
			            		<div class="input-group mb-2 mr-sm-2">
			               			<%= text_field_tag 'title', value = params[:title], class:"form-control", placeholder:"Traversée à bord du Vogue Merry", required: true%>
			            		</div>
			          		</div>
			          		<div class="col-md-6 mb-3 mb-md-0">
			          			<label class="text-black form-label">Type de bateau *</label>
			             		<div class="input-group mb-2 mr-sm-2">
			               			<%= select_tag 'boat_type', options_for_select($boat_types), class:"form-control", value: params[:boat_type], required: true%>
			               		</div>
			                </div>
						</div>
						
						<div class="row form-group">
				            <div class="col-md-6 mb-3 mb-md-0">
				             	<label class="text-black form-label">Port de départ *</label>
				            	<div class="input-group mb-2 mr-sm-2">
				              		<%= select_tag 'departure_port', options_for_select($departure_ports), class:"form-control", value: params[:departure_port], required: true%>
				            	</div>
				          	</div>
				          	<div class="col-md-6 mb-3 mb-md-0">
				             	<label class="text-black form-label">Port d’arrivée *</label>
				            	<div class="input-group mb-2 mr-sm-2">
				              		<%= select_tag 'arrival_port', options_for_select($arrival_ports), class:"form-control", value: params[:arrival_port], required: true%>
				            	</div>
				          	</div>
						</div>

						<div class="row form-group">
				          	<div class="col-md-6 mb-3 mb-md-0">
				             	<label class="text-black form-label">Date de départ *</label>
				            	<div class="input-group mb-2 mr-sm-2">
				              		<%= date_field_tag 'date_of_departure', value = params[:date_of_departure],class:"form-control", value: Date.today + 1.day, required: true %>
				            	</div>
				          	</div>
				          	<div class="col-md-6 mb-3 mb-md-0">
				             	<label class="text-black form-label">Date d’arrivée *</label>
				            	<div class="input-group mb-2 mr-sm-2">
				              		<%= date_field_tag 'date_of_arrival', value = params[:date_of_departure], class:"form-control", value: Date.today + 2.day, required: true %>
				            	</div>
				          	</div>
				         </div>

						<div class="row form-group">
					        <div class="col-md-6 mb-3 mb-md-0">
					            <label class="text-black form-label">Licence requise *</label>
					            <div class="input-group mb-2 mr-sm-2">
					              	<%= text_field_tag 'required_license', value = params[:required_license], class:"form-control", placeholder:"Permis côtier, hauturier...", required: true%>
					            </div>
					        </div>
					        <div class="col-md-6 mb-3 mb-md-0">
				             	<label class="text-black form-label">Rémunération du convoyage *</label>
				            	<div class="input-group mb-2 mr-sm-2">
				               		<%= number_field_tag 'convoy_price',value = params[:convoy_price], min:"0", class:"form-control", placeholder:"€", required: true %>
				            	</div>
				          	</div>
						</div>

						<div class="row form-group">
				            <div class="col-md-12 mb-3 mb-md-0">
				             	<label class="text-black form-label">Description</label>
				            	<div class="input-group mb-2 mr-sm-2">
				              		<%= text_area_tag 'description', value = params[:description], class:"form-control", rows:"5", placeholder:"Décrivez votre besoin en quelques lignes"%>
				            	</div>
				          	</div>
				         </div>
						
						<div class="row form-group">
				          	<div class="col-12">
			            		<span class="form-label">
			            			Ajouter des images : 
			               			<%= file_field_tag 'pictures[]' %>
			  					</span>
			  				</div>

				         	<div class="col-md-12">
				            	<%= submit_tag "Valider ma demande", class:"btn btn-primary btn-lg btn-block text-white form-label", style:"margin-top:1rem; margin-bottom:1rem;" %>
				          	</div>
				        </div>
        			<% end %>

		        </div>
		    </div>
		</div>
	</div>
</section>
