<%= content_for :title, "Créer un convoyage" %>


<!------------------------------- BANNER ------------------------> 
<%= render 'banner_new_convoy' %>
<!------------------------------- END BANNER ------------------------>
<br>
<%= form_with model: @convoy, local: true do |form| %>
  <% if @convoy.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@convoy.errors.count, "error") %> prohibited
        this convoy from being saved:
      </h2>
      <ul>
        <% @convoy.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% end %>
<div class="container" id="new_convoy">
  <div class="row"> 
    <div class="col-sm-9 col-md-7 col-lg-7 mx-auto">      
      <div class="card">
        <div class="form-group">
          <%=form_tag convoys_path do %>
            <div class="form-group">
              <br>
              <h3 class="col-lg-12 text-center">Informations sur le convoi</h3>
              <label class="col-md-5 control-label">Titre:</label>
              <div class="col-lg-12">
                <%= text_field_tag 'title',value = params[:title],class:"col-lg-12"%>
              </div>        
            </div>
            <div class="form-group">
              <label class="col-md-5 control-label">Type de bateau:</label>
              <div class="col-lg-12">
                <%= text_field_tag 'boat_type',value = params[:boat_type],class:"col-lg-12"%>       
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-5 control-label">Licence requise :</label>
              <div class="col-lg-12">
                <%= text_field_tag 'required_license',value = params[:required_license],class:"col-lg-12"%>
              </div>   
            </div>      
            <div class="form-group">
              <label class="col-lg-5 control-label">Description:</label>
              <div class="col-lg-12">
                 <%= text_area_tag 'description',value = params[:description],class:"col-lg-12",size: "15x5"%>  
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-5 control-label">Port de départ:</label>
              <div class="col-lg-12">
                 <%= text_field_tag 'departure_port',value = params[:departure_port],class:"col-lg-12"%>  
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-5 control-label">Port d’arrivée:</label>
              <div class="col-lg-12">
                 <%= text_field_tag 'arrival_port',value = params[:arrival_port],class:"col-lg-12"%>  
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-5 control-label">Date de départ :</label>
              <div class="col-lg-12">
                 <%= date_field_tag 'date_of_departure',value = params[:date_of_departure],class:"col-lg-12"%>  
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-5 control-label">Date d’arrivée:</label>
              <div class="col-lg-12">
                 <%= date_field_tag 'date_of_arrival',value = params[:date_of_arrival],class:"col-lg-12"%>  
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-5 control-label">Rémunération du convoi:</label>
              <div class="col-lg-12">
                 <%= number_field_tag 'convoy_price',value = params[:convoy_price],class:"col-lg-12"%>  
              </div>
            </div>
            <div class="text-center"> 
              <div class="col-lg-12">
                <div class="text-center">   
                  <div class="form-group">
                    <%= submit_tag "Créer", class: "btn btn-primary btn-block" %>
                  </div>
                </div>
              </div>                           
            </div>
          <%end%>                
        </div>
      </div>
    </div>
  </div>
</div>  
<br>

   <%= form_with model: @convoy, local: true  do |form| %>
    <%= form.file_field :pictures, multiple: true %><br>
    <%= form.submit %>
  <% end %>
 






