<%= content_for :title, @convoy.title %>

<!----------------- BANNER ----------------->
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(<%= asset_path('hero_1.jpg') %>);" data-aos="fade">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-10 mx-auto mt-lg-5 text-center">
        <h1><%= @convoy.title %></h1>
        <p class="mb-5"><%= @convoy.description %>.</p>
      </div>
    </div>
  </div>
  <a href="#convoy-details" class="smoothscroll arrow-down"><span class="icon-arrow_downward"></span></a>
</div>
<!----------------- BANNER ----------------->
<%= render :partial => "shared/errors" %>

<!----------------- SHOW CONVOY ----------------->
<div class="site-section" id="convoy-details">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="owl-carousel slide-one-item with-dots">
          <div>
            <%= image_tag @convoy.picture_attachment_path, class:"img-fluid"%>
          </div>
        </div>
      </div>
      <div class="col-lg-5 pl-lg-5 ml-auto">
        <div class="mb-5">
          <h3 class="text-black mb-4"> Détails du convoyage</h3>

          <p class="text-label">Trajet</p>
            <p>Du port de <%= @convoy.departure_port %> au port de <%= @convoy.arrival_port %>
            </p>

          <p class="text-label">Date de départ - date d'arrivée</p>
            <p><%= @convoy.date_of_departure.strftime("%d/%m/%Y") %> - <%= @convoy.date_of_arrival.strftime("%d/%m/%Y") %> <br/>
              <strong>Durée du convoyage :</strong> <%= @convoy.duration.round(0) %> jours
            </p>

          <p class="text-label">Description</p>
            <p><%= @convoy.description %>
            </p>

          <p class="text-label">Type de bâteau</p>
            <p><%= @convoy.boat_type %>
            </p>

          <p class="text-label">Permis requis</p>
            <p><%= @convoy.required_license %>
            </p>

          <p class="text-label">Rémunération</p>
            <p class="mb-4"><%=  number_with_delimiter(@convoy.convoy_price.round(0), delimiter: " ") %> €
            </p>

          <% if current_user && !@convoy.delivery %>
            <% if @convoy.applicants.include?(current_user) %>
              <p>
                 <%= link_to "Annuler ma candidature", {:controller => "submissions", :action => "destroy", :convoy_id => @convoy.id, :skipper_id => current_user.id}, method: :delete, class: "btn btn-danger" %>
              </p>
            <% elsif current_user == @convoy.boat_owner %>
              <p><a href="#editConvoy" class="btn btn-warning" style="width:250px" data-toggle="modal" data-target="#editConvoy">Modifier les informations</a></p>
              <p><%= link_to "Supprimer le convoyage", convoy_path(@convoy.id), :method => 'delete', class:"btn btn-danger", style:"width:250px;" %></p>
            <% else %>
              <p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submissionModal">
                  Candidater
                </button>
              </p>
            <% end %>
          <% elsif current_user && @convoy.delivery %>
            <% if @convoy.applicants.include?(current_user) %>
              <% if @convoy.delivery.skipper == current_user %>
                <p><a href="#" class="btn btn-success noHover">Candidature acceptée</a></p>
              <% else %> 
                <p><a href="#" class="btn btn-warning noHover">Candidature rejetée</a></p>           
              <% end %>
            <% else %>
              <p><a href="#" class="btn btn-secondary noHover">Candidature fermée</a></p>           
            <% end %>
          <% elsif !current_user && @convoy.delivery %>
            <p><a href="#" class="btn btn-secondary noHover">Candidature fermée</a></p>
          <% else %>
            <p>
              <%= link_to "Candidater", new_user_session_path, method: :get, class: "btn btn-primary" %>
            </p>
          <% end %>

        </div>

        <div class="mb-5">

          <div class="mt-5">
            <%= image_tag @convoy.boat_owner.profile.avatar_attachment_path, class:"w-25 mb-3 rounded-circle"%>
            <h4 class="text-black"><%= @convoy.boat_owner.profile.first_name %> <%= @convoy.boat_owner.profile.last_name %></h4>
            <p class="text-muted mb-4">Propriétaire du bâteau</p>
            <p><%= @convoy.boat_owner.profile.description %></p>
            <% if current_user && @convoy.delivery %>
              <% if @convoy.delivery.skipper == current_user %>
                <p>
                  <%= mail_to @convoy.boat_owner.email, "Contacter le propriétaire", class:"btn btn-primary btn-sm" %>
                </p>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!----------------- SHOW CONVOY ----------------->

<!-------------- EDIT CONVOY MODAL --------------------->
<div class="modal fade" id="editConvoy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <%= render 'convoys/edit_convoy_modal', convoy: @convoy %>
</div>
<!-------------- EDIT CONVOY MODAL --------------------->

<!--------------- SUBMISSION MODAL -------------->
<% if current_user %>
  <div class="modal fade" id="submissionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Ecrivez un message au propriétaire du bateau</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_tag submissions_path, method: "post" do %>
            <%= hidden_field_tag :skipper_id , current_user.id %>
            <%= hidden_field_tag :convoy_id , @convoy.id %>
            <%= text_area_tag 'cover_text', nil, class: "form-control", rows:"5", placeholder: "Exprimez votre motivation" %>
        </div>
        <div class="modal-footer">
          <%= submit_tag "Envoyer la candidature", class: "btn btn-primary btn-lg btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!--------------- SUBMISSION MODAL -------------->