<%= content_for :title, "Mes propositions de convoyage" %>

<!------------------------ BANNER ----------------------------------------------------->
<%= render 'banner' %>
<!------------------------ END BANNER ----------------------------------------------------->

<%= render :partial => "shared/errors" %>

<!------------------------ MY CONVOYS LIST ----------------------------------------------------->
<section class="site-section bg-light bg-image", id="login">
  	<div class="row d-flex justify-content-center">  
		<% if @my_convoys.size == 0 %>
		<h4> Vous n'avez pas encore proposé de convoyage.</h4>
		<% else %>
			<% @my_convoys.each_with_index do |convoy,i| %>
				<div class="col-10 offset-md-2">
					<div class="card mb-6" style="max-width: 900px; margin-bottom: 2rem">
					  	<div class="row no-gutters">
					   		<div class="col-md-2">
					            <%= image_tag convoy.picture_attachment_path, class: "img-fluid" %>
					    	</div>
						    <div class="col-md-10">
							    <div class="card-body", style="padding-bottom: 0;">
							    	<div class="row">
								    	<div class="col-6">
								    		<a href="<%= user_my_convoy_path(current_user, convoy) %>">
										    	<h5 class="card-title"><%= convoy.title %></h5>
										    </a>
										    <p class="card-title"><%= convoy.departure_port %> - <%= convoy.arrival_port %></p>
										    <p class="card-title">Date de départ : <%= convoy.date_of_departure.strftime("%d/%m/%Y") %></p>
										    <p class="card-text"> <strong>Nombre de candidatures : <%= convoy.submissions.size %></strong></p>
										    <p class="card-text"><small class="text-muted">Last update <%= time_ago_in_words(convoy.updated_at) %></small></p>
									    </div>
									    <div class="col-6 text-right">
									    	<% if convoy.delivery %>
												<button class="btn btn-secondary btn-sm noHover text-sm">Verrouillé</button>
											<% else %>
												<button class="btn btn-primary btn-sm noHover text-sm">En cours</button>
											<% end %>
									    </div>
									</div>
							    </div>
						    </div>
					 	</div>
					</div>
				</div>
			<% end %>
		<% end %>
  </div>
</section>
<!------------------------ END MY CONVOY LIST ----------------------------------------------------->


