<%= content_for :title, @my_convoy.title %>

<!----------------- BANNER ----------------->
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(<%= asset_path('hero_1.jpg') %>);" data-aos="fade">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-10 mx-auto mt-lg-5 text-center">
        <h1><%= @my_convoy.title %></h1>
        <p class="mb-5"><%= @my_convoy.description %>.</p>
      </div>
    </div>
  </div>
  <a href="#convoy-details" class="smoothscroll arrow-down"><span class="icon-arrow_downward"></span></a>
</div>
<!----------------- BANNER ----------------->

<%= render :partial => "shared/errors" %>

<!----------------- SHOW CONVOY ----------------->
<div class="site-section bg-light bg-image" id="convoy-details" style="padding-bottom:0;">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="owl-carousel slide-one-item with-dots">
          <div>
            <%= image_tag @my_convoy.picture_attachment_path, class: "img-fluid card-image" %>
          </div>
        </div>
      </div>

      <div class="col-lg-8 pl-lg-8">

        <div class="row">
          <div class="col-lg-5 pl-lg-5">
            <h3 class="text-black mb-4"> Détails du convoyage</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5 pl-lg-5">
            <div class="mb-5">
              <p class="text-label">Trajet</p>
              	<p>Du port de <%= @my_convoy.departure_port %> au port de <%= @my_convoy.arrival_port %>
              	</p>

              <p class="text-label">Date de départ - date d'arrivée</p>
              	<p><%= @my_convoy.date_of_departure.strftime("%d/%m/%Y") %> - <%= @my_convoy.date_of_arrival.strftime("%d/%m/%Y") %> <br/>
              		<strong>Durée du convoyage :</strong> <%= @my_convoy.duration.round(0) %> jours
              	</p>

              <p class="text-label">Type de bâteau</p>
                <p><%= @my_convoy.boat_type %>
                </p>

              <p class="text-label">Permis requis</p>
                <p><%= @my_convoy.required_license %>
                </p>

            </div>
          </div>

          <div class="col-lg-7 pl-lg-7">
            <div class="mb-5">
              <p class="text-label">Description</p>
              	<p><%= @my_convoy.description %>
              	</p>
              <p class="text-label">Rémunération</p>
                <p class="mb-4"><%=  number_with_delimiter(@my_convoy.convoy_price.round(0), delimiter: " ") %> €
                </p>
          	  <% if !@my_convoy.delivery  %>
                  <p><a href="#editConvoy" class="btn btn-warning" style="width:250px;" data-toggle="modal" data-target="#editConvoy">Modifier les informations</a></p>
              		<p><%= link_to "Supprimer le convoyage", convoy_path(@my_convoy.id), :method => 'delete', class:"btn btn-danger", style:"width:250px;" %></p>
              <% else %>
              		<p><a href="#" class="btn btn-secondary noHover">Convoyage validé</a></p>
              <% end %>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
<!----------------- SHOW CONVOY ----------------->

<!-------------- EDIT CONVOY MODAL --------------------->
<div class="modal fade" id="editConvoy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <%= render 'convoys/edit_convoy_modal', convoy: @my_convoy %>
</div>
<!-------------- EDIT CONVOY MODAL --------------------->

<!------------------------ CONVOY SUBMISSIONS ----------------------------------------------------->
    <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="my-3 p-3 bg-grey rounded box-shadow">
              <h4 class="border-bottom border-gray pb-2 mb-0">Candidatures</h4>
              <% if @submissions.size == 0 %>
                <p>Aucune candidature pour le moment.</p>
              <% else %>
                <!---------------------- LOOP ON CONVOY SUBMISSIONS --------------------------------->
                <% @submissions.each_with_index do |submission, i| %>
                  <div class="media pt-3 border-bottom border-gray">
                    <%= image_tag(submission.skipper.profile.avatar_attachment_path, class:"w-15 mb-3 rounded-circle") %>
                    <div class="col-lg-7 pl-lg-7">
                      <div class="media-body pb-3 mb-0 lh-125 offset-md-1", style="min-height:155px;">
                        <strong class="d-block text-gray-dark form-label"><%= submission.skipper.profile.first_name %> <%= submission.skipper.profile.last_name %></strong>
                        <a href="#profileModal<%= i %>" data-toggle="modal" data-target="#profileModal<%= i %>">Voir le profil du skipper</a>
                        <br/>
                        <!-------------- SKIPPER PROFILE MODAL --------------------->
                          <div class="modal fade" id="profileModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered big-modal" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalCenterTitle">Profile du skipper</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <%= render 'profiles/show', profile: submission.skipper.profile %>
                                </div>
                              </div>
                            </div>
                          </div>
                        <!-------------- END SKIPPER PROFILE MODAL --------------------->
                        <%= submission.cover_text %>
                        <br/>
                        <button class="btn btn-outline-secondary btn-sm noHover text-sm" style="margin-top:1rem;"><%= submission.skipper.profile.city %>
                        </button>
                      </div>
                    </div>
                    <div class="col-lg-3 pl-lg-3 text-right">
                      <% if !@my_convoy.delivery %>
                        <span class="my-auto">
                          <%= form_tag charges_path do %>
                              <%= hidden_field_tag :skipper_id , submission.skipper.id %>
                              <%= hidden_field_tag :convoy_id , submission.convoy.id %>
                              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                      data-description="The purchase of your life"
                                      data-amount="<%= @my_convoy.convoy_price * 100 %>"
                                      data-locale="auto">
                              </script>
                              <script>
                                  // Hide default stripe button, be careful there if you
                                  // have more than 1 button of that class
                                  document.getElementsByClassName("stripe-button-el")[<%=i%>].style.display = 'none';
                              </script>
                              <button type="submit" class="btn btn-primary">Sélectionner et payer</button>
                          <% end %>
                        </span>
                      <% elsif submission.status == true %>
                        <button class="btn btn-primary btn-sm noHover text-sm" style="margin-top:1rem;">Sélectionné</button>
                      <% elsif submission.status == false %>
                        <button class="btn btn-secondary btn-sm noHover text-sm" style="margin-top:1rem;">Refusé</button>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <!---------------------- END LOOP ON CONVOY SUBMISSIONS --------------------------------->
              <% end %>
            </div>
          </div>
        </div>
     </div>
<!------------------------ END CONVOY SUBMISSIONS ----------------------------------------------------->

