<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:title) %> </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900|Oswald:300,400,700" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', async: true, defer: true %>
  </head>
  <body>


  <!---------------------------NAVBAR END--------------------------------------------------->    
  <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
    <%= render 'layouts/navbar' %>
  </header>
  <!---------------------------NAVBAR END--------------------------------------------------->


  <!---------------------------LOGIN MODAL ------------------------------------------------->
  <div class="modal fade" id="loginAs" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <%= render 'layouts/login_modal' %> 
  </div>
  <!---------------------------END LOGIN MODAL --------------------------------------------->

  <%= yield %>


  <!----------------------------FOOTER------------------------------->
  <footer class="site-footer">
    <div class="container">
      <div class="row">

        <div class="col-md-8">
          <div class="row">

            <div class="col-md-5">
              <h2 class="footer-heading mb-4">À propos de Nous </h2>
              <p>Les voiles de Bobato ont été lancées par cinq mousaillons en passe de devenir corsaires.  </p>
            </div>

            <div class="col-md-3 mx-auto">
              <h2 class="footer-heading mb-4"></h2>
              <ul class="list-unstyled">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>

            <div class="col-md-4">
              <a href="/"><img src="/assets/logo-bobato.png" alt=""></a>
            </div>

          </div>
        </div>

        <div class="col-md-4">

          <div class="mb-4">
            <h2 class="footer-heading mb-4"></h2>
            <form action="#" method="post" class="footer-subscribe">
            
            </form>  
          </div>
          
          <div class="">
            <h2 class="footer-heading mb-4">Retrouvez-nous ici</h2>
              <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                <!-- Logo --> 
          </div>

        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
          <p class="copyright">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
          </div>
        </div>
        
      </div>
    </div>
  </footer>
<!----------------------------FOOTER END------------------------------->

  <a href="#top" class="gototop"><span class="icon-angle-double-up"></span></a>

  </body>
</html>


